





<div *ngFor='let post of postslist'>
    <div class="prueba">
     <a routerLink='/perfil/{{post.username}}'> 
        <h1 class="username">{{post.username}}</h1>
    </a>
        {{post.message}}
  
      <!--  <input type="text"[(ngModel)]="Usuario.username">-->
<button (click)="insertfollows(post.username)">seguir</button> 
        <hr>
    </div>
     
     
</div>





