.centrar
	{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:50%;
		left:50%;
		/*determinamos una anchura*/
		
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-150px;
		border:1px solid #808080;
		padding:5px;
    }
    
  .username:hover{
    cursor: pointer;
  }

  a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: darkblue;
  } 

  .prueba{
        height:  auto;
        background-color: lightblue;
        font-family: cursive;
        text-align: left;
        margin: 1% 1%;
        padding: 1% ;
        border-radius: 5px;

   }

    .hola{
        background-color: lightblue;
        font-family: cursive;
        text-align: left;
        margin: 5% 5%;
        padding: 1% ;
    }

      .label {
        color: white;
        padding: 8px;
      }
      