<div class="container">

    <div class="hola">

         <h1 class="welcome">Bienvenido,  <label class="user">{{userid}}</label></h1>
        
            <button (click)="seefollows()">Ver segidores</button>
            <button (click)="deleteAcount()" (click)=" navegar()" >Eliminar Cuenta </button>
        
         <h1 align="center">¿Qué piensas hoy?</h1>
         <label class="label">Tweet</label>
         <div class="textcontainer">
              <textarea class="text" placeholder="Ingresa tu Tweet" type="text"[(ngModel)]="minewTweet.message">  </textarea>
            

              <button class="add" (click)="addPost()">Añadir tweet</button>

        </div>
         <label class="label">
            Autor
        </label>
        {{userid}}
 
        
        
</div>  

<div class="tweets">
    <h1  class="titulo">TUS TWEETS</h1>
    
<div *ngFor='let post of biid'>
    <div class="prueba" >
        
        <h1 class="username">{{post.username}}</h1>
        {{post.message}}
        <button (click)="deleteTweetById(post.idPost)" (click)="navegar2()">Eliminar</button>
    </div>        
</div>
</div>


<div  *ngFor='let post of postlist'>
        <div class="pruebados">
            <h2 class="titulodos">seguidor de {{post.username}}</h2>
         {{post.userfollow}}
        </div> 
    </div>
    
</div>



