    
    .prueba{
        background-color: lightblue;
        font-family: cursive;
        text-align: left;
        margin: 1% 1%;
        padding: 1% ;
        border-radius: 5px;
    }
    .pruebados{
        background-color:cornflowerblue;
        font-family: cursive;
        text-align: left;
        margin: 1% 1%;
        padding: 1% ;
        border-radius: 5px;
    }
    .hola{
    height: 30%;
        background-color: lightblue;
        font-family: cursive;
        text-align: left;
        margin: 1% 1%;
        padding: 1% ;
        border-radius: 5px;
    }

    .add :hover{
        background-color: darkgray !important;
    }

    h1{
        font-weight: 500;
    }
    .user{
        font-weight: 600;
    }

      .label {
        color: white;
        padding: 8px;
      }
      
      .tweets{
          width: 100%;
          height: 100%;
      }

 .container{
     width: 100%;
     height: 100%;
 }     
 
 .titulo{
    text-align: center;
    color:black;
    font-weight: bold;
 }
  .titulodos{
    text-align: left;
    color:black;
    font-weight: bold;
 }

.textcontainer{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .text{

     width: 80%;
     height: 100%;
 }