

*{
    margin: 0%;
    padding: 0%;
  
  }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      
    }

    .container {
      padding-left: 45%;
    }

    .sub {
      padding-top: 100px;
    }
    
    .texto {
      padding-bottom: 100px;
    }
  
    .toolbar img {
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover {
      opacity: 0.8;
    }
  
  
  
    .nav a{
      color: #e6ebf1;
    }
       .footeruno{
          padding: 1%;
          text-align: center;
          font-family: monospace;
          color: lavender;
          background-color: #1976d2;
        }
  
  