
<header>
    <div class="toolbar" role="banner">
      <img
        width="120"
        alt="Poli logo"
        src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png"
      />
      <span>Bienvenido a {{title}}</span>      
        <div class="spacer"></div>
        <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
          <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
            <rect width="400" height="400" fill="none"/>
            <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
          </svg>
        </a> 
    </div>
    </header>

    <main>
        <H2></H2>
        <div class = "container" >
                <div class="texto">
                    <div class = "sub">
                        <P><img src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png"></P>                       
                    </div>
                    <P>Iniciar Sesión</P>
                    <P><label for="uname" ><b>Username</b></label></P>
                    
                    <div >
                    <P><input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="Usuario.username"></P>
                     </div>
                    <P><label for="psw"><b>Password</b></label></P>
                    <P><input type="text" placeholder="Enter Password" name="psw" required [(ngModel)]="Usuario.password"></P>
                        
                    <P><button type="submit" (click)="getusers()"  >Login</button></P> 
                    <h2>Usuario nuevo? Registrate aqui</h2>
                    <P><button type="submit" (click)="navegar2()" >Registrase</button></P>
                    <p><label>
                     <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label></p>
                </div>
        </div>    
    </main>
    
   
    