


<div class="hola">

    <h1>PERFIL DE {{userid}}</h1>
    
    <button (click)="seefollows()">Ver segidores</button>
   
    <div class="tweets">
        
    </div>   
    
    </div>
        <h1  class="titulo">SUS TWEETS</h1>
        
    <div *ngFor='let post of biid'>
        <div class="prueba">
            <h1 class="username">{{post.username}}</h1>
            {{post.message}}
        </div>        
    </div>
    

    <h1 class="titulo">SEGUIDORES DE {{userid}}</h1>
    <div  *ngFor='let post of postlist'>
        <div class="prueba2">
           
         {{post.userfollow}}
         
            <hr>
        </div>
         
         
    </div>
    


<hr>


   



