


    <main>
        
        <div class = "container" >
           
                <div class="texto">
                    <div class = "sub">
                        <P><img src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png"></P>                       
                        <h1>REGISTRO</h1>
                    
                    </div>
                    
                    <P><label for="uname"><b>Nombre de Usuario</b></label></P>
                    <div >
                    <P><input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="userNew.username"></P>
                     </div>
                    <P><label for="psw"><b>Contraseña</b></label></P>
                    <P><input type="text" placeholder="Enter Password" name="psw" required [(ngModel)]="userNew.password"></P>
                    <P><label for="psw"><b>Fecha</b></label></P>
                    <P><input type="text" placeholder="Enter Date" name="psw" required [(ngModel)]="userNew.creationdate"></P>
                        
                    <P><button type="submit" (click)=" addUser()" >Login</button></P> 
                    
                   
                   
                </div>
        </div>    
    </main>
    
   
    